body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; */
  background-color: #E6E8E6;
  font-family: 'Biryani', sans-serif;
  font-size: 16px;
  /* font-family: 'Work Sans', sans-serif; */
}

#navbar{
  margin: auto;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  background-color: #08415C;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  z-index: 1;
}

#nav_logo  {
  margin-left: 1.5em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  align-self: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  z-index: 2;
}

#logo_image{
  height: auto;
  width: 4em;
}

#menu_area{
  margin: 0;
  padding: 0;
}

#menu_area li {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  align-self: center;
  list-style: none;
  z-index: 2;
}

#menu_area li a{
  padding: 1.5em;
  margin-right: 1em;
  text-decoration: none;
  color: #E6E8E6;
}

#menu_area li:hover {
  width: auto;
  background-color: #56A3A6;
  -webkit-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

#menu_area li:hover > a{
  color: #08415C;
}

#welcome-section{
  display: relative;
  padding: 1.2em 1em 0em 1em;
  width: auto;
  height: auto;
  font-family: 'Nobile', sans-serif;
  font-weight: 700;
  line-height: 7rem;
  font-size: 3.4rem;
  color: #444554;
  overflow: auto;
}

#carousel {
  position: relative;
  height: 30em;
  width: 80%;
  margin: auto;
}

.carousel_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* crops picture to fit page */
}

#carousel_track-container{
  background: #C1C1C1;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel_slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button{
  position: absolute;
  top: 50%;
  transform: translateY(-50px); */
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel_button--left{
  left: -40px;
}

.carousel_button--right{
  right: -40px;
}

.carousel_button img{
  width: 20px;
}

#carousel_nav{
  /* background: pink; */
  display: flex;
  justify-content: center;
}

.carousel_indicator{
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,0.3);
  margin: 10px 15px;
  cursor: pointer;
}

.carousel_indicator.current-slide{
  background: rgba(0,0,0,0.75);
}

/* This is for the last slide or first, so that the arrows that wouldn't work, don't show up for the user */
.is-hidden {
  display: none;
}

footer{
  position:fixed;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 20;
}

#github_icon{
  font-size: 3rem;
  color: #08415C;
}

#github_icon:hover{
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  color: #BA2C73;
}
